Repository unfunco/terraform-aws-oidc-github, pull requests merged in 2025-08, with the labels that each got.

#68 feat: Add a flag to enable/disable role creation
  README.md
  data.tf
  main.tf
  outputs.tf
  variables.tf
Labels: feature 💡

#80 chore!: Rename the enabled variable to create
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
  .github/workflows/pr_label.yaml
  .github/workflows/security.yaml
  README.md
  data.tf
  main.tf
  outputs.tf
  variables.tf
  versions.tf
Labels: chore 🧹, workflows 👷‍♀️

#75 refactor: Use one workflow for PRs and pushes
  .github/workflows/ci.yaml
  .github/workflows/pr.yaml
  data.tf
  main.tf
  oidc-github.tftest.hcl
  outputs.tf
  variables.tf
Labels: workflows 👷‍♀️

#82 feat: Allow more managed policies to be attached
  README.md
  main.tf
  variables.tf
Labels: feature 💡

#84 fix: Do not skip the release job
  .github/workflows/ci.yaml
Labels: bug 🐛, workflows 👷‍♀️

#86 fix: Fix broken unit test
  .github/workflows/ci.yaml
  README.md
  oidc-github.tftest.hcl
Labels: bug 🐛, workflows 👷‍♀️

#87 fix: custom policies
  main.tf
Labels: bug 🐛
